# Replace every value before use.
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=GENERATE-A-LONG-RANDOM-VALUE
DJANGO_ALLOWED_HOSTS=nfms-fip.kenyaforestservice.org
CSRF_TRUSTED_ORIGINS=https://nfms-fip.kenyaforestservice.org
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
SECURE_HSTS_PRELOAD=1

POSTGRES_DB=nfms_fip
POSTGRES_USER=nfms
POSTGRES_PASSWORD=GENERATE-A-STRONG-PASSWORD

MINIO_ROOT_USER=GENERATE-A-STRONG-USERNAME
MINIO_ROOT_PASSWORD=GENERATE-A-STRONG-PASSWORD
S3_BUCKET=nfms-fip
MAX_UPLOAD_MB=500

GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=GENERATE-A-STRONG-PASSWORD
DEMO_PASSWORD=DISABLE-OR-REPLACE-BEFORE-PRODUCTION

PGADMIN_DEFAULT_EMAIL=admin@kenyaforestservice.org
PGADMIN_DEFAULT_PASSWORD=GENERATE-A-STRONG-PASSWORD
